body
{
    background-color: red;
}
h3 {
    color: indianred;
    text-transform: capitalize;
}
.container{
    background-color: lightpink;
}
.row{
    margin: auto;
}
#header{
    border: solid;
    border-color: #888888;
    background-color: white;
}
#row a {
  display: block;
  width: 60px;
}
#navBar {
    margin: 0;
    padding: 0;
    position: sticky;
    top: 1;
    background-color: rgb(153, 153, 153);
}
#body{
    border: solid;
    border-color: black;
    margin: 10px;
    padding: 10px;
}
.col a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    overflow: auto;
}

.col a:hover {
  background-color: #111;
}
#dp {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    right: 0;
}
#To {
    padding: 10px;
    left: 0px;
    text-align: left;
}
#by {
    padding: 10px;
    right: 0;
    text-align: right;
}
#tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

#message{
    margin: 10px;
    padding: 10px;
}
#tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}